.plans-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    column-gap: 1em;
}

.toogle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
    width: 100%;
    height: 50px;
    background: hsl(217, 100%, 97%);
    border-radius: .8rem;
    font-size: 14px;
    color: hsl(231, 11%, 63%);
    font-weight: 500;
}

.toogle{
    display: grid;
    width: 35px;
    height: 18px;
    border-radius: 15px;
    background: hsl(213, 96%, 18%);
    align-items: center;
    padding: 0 .2em;
    cursor: pointer;
    
}

.toogle-dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: hsl(231, 100%, 99%);
    transition: 0.3s transform ease-in;
}

.right{
    transform: translateX(17px);
}

span.active{
    color: hsl(213, 96%, 18%);
    animation: animateColor 0.3s ease-in;
}

@keyframes animateColor{
    0%{
        color: hsl(231, 11%, 63%);
    }
    100%{
        color: hsl(213, 96%, 18%);
    }
}

@media (max-width:650px){
    .plans-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 1em;
    }
}