@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  background: hsl(217, 100%, 97%);
  max-width: 1440px;

/*   color: hsl(213, 96%, 18%);
  color: hsl(243, 100%, 62%);
  color: hsl(228, 100%, 84%);
  color: hsl(206, 94%, 87%);
  color: hsl(354, 84%, 57%);

  color: hsl(231, 11%, 63%);
  color: hsl(229, 24%, 87%);
  color: hsl(217, 100%, 97%);
  color: hsl(231, 100%, 99%); */
}


